html,
body {
    color: $black;
    font-family: $font_family;
    font-size: $font_base;
    font-weight: $font_normal;
    line-height: 1.45;
}

p { line-height: 1.45; }

a { color: $blue; text-decoration: none; }
a:hover { color: $blue_hover; }

a:focus, input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 7px rgba(48, 142, 144, .8);
    outline: none;
}

strong { font-weight: $font_bold; }
em { font-style: italic; }

h1 { font-weight: $font_bold; }
h2 { font-weight: $font_bold; }
