STYLE_SHEET="$SASS_DIR/../style.css"

# Search parents recursively for a 'wp-config.php' file.
local wp_config="./wp-config.php"
local parent_dir="$(pwd)"
while [[ "$parent_dir" != "/" ]] ; do
    # If 'wp-config.php' exists, set wp_config to this dir
    if [[ -f "$parent_dir/wp-config.php" ]] ; then
        local wp_config="$parent_dir/wp-config.php"
        break #
    fi
    parent_dir="$(dirname "$parent_dir")"
done

# Check if debug is set:
grep -i "^define.*WP_DEBUG.*true" "$wp_config" > /dev/null
if [[ $? == 0 ]] ; then
    FLAGS="-ml -t expanded"
else
    FLAGS="-ml -t compressed"
fi

# vim:set ft=sh:
