$font_base: 16px;
$font_family: sans-serif;
$font_normal: 400;
$font_light: 300;
$font_bold: 700;

// 1.61803398874989 or "The Golden Ratio"
$golden_ratio: (1 + sqrt(5)) / 2;
$font_ratio: 1.45;

@mixin font-size($size) {
    @if($size == 1) {
        font-size: $font_base;
    } @else if($size == 0) {
        font-size: 0;
    } @else if($size <= 0) {
        font-size: ($font_ratio / abs($size - 1)) * $font_base;
    } @else {
        font-size: ($size - 1) * $font_ratio * $font_base;
    }
}

html,
body {
    color: $black;
    font-family: $font_family;
    font-size: $font_base;
    font-weight: $font_normal;
    line-height: 1.45;
}

a { color: $blue; text-decoration: none; }
a:hover { color: $blue_hover; }

strong { font-weight: $font_bold; }

h1 { @include font-size(3); font-weight: $font_bold; }
h2 { @include font-size(2); font-weight: $font_bold; }
