// This does not work for decimals. see: https://css-tricks.com/snippets/sass/power-function/
@function raise($base, $exponent) {
    $value: $base;

    @if $exponent > 1 { // positive intergers get multiplied
        @for $i from 2 through $exponent {
            $value: $value * $base;
        }
    }

    @if $exponent < 1 { // negitive intergers get divided. A number divided by itself is 1
        @for $i from 0 through -$exponent {
            $value: $value / $base;
        }
    }

    @return ($value);
}
